<div class="auth">

  <div class="auth__form-wrapper">
    <h2>Login</h2>

    <form class="auth-form" action="/user/login" method="post">
      <div class="form-group">
        <input class="auth-input" type="text" name="username" placeholder=" " />
        <span class="auth-label"><i class="fa-solid fa-user"></i>Username</span>
      </div>
      <div class="form-group">
        <input
          class="auth-input"
          type="password"
          name="password"
          placeholder=" "
        />
        <span class="auth-label"><i class="fa-solid fa-lock"></i>Password</span>
      </div>
      <button class="auth-btn" type="submit">Login</button>

    </form>
  </div>

</div>