<div class="auth">
  <div class="auth__form-wrapper">

    <h2>Register</h2>

    <form
      class="auth-form"
      action="/user/register"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="auth-form__wrapper">

        <div class="form-group">
          <input
            class="auth-input"
            type="text"
            name="username"
            placeholder=" "
          />
          <span class="auth-label"><i class="fa-solid fa-user"></i>
            Username</span>
        </div>
        <div class="form-group">
          <input class="auth-input" type="email" name="email" placeholder=" " />
          <span class="auth-label"><i class="fa-solid fa-at"></i> Email</span>
        </div>
      </div>
      <div class="auth-form__wrapper">

        <div class="form-group">
          <input
            class="auth-input"
            type="password"
            name="password"
            placeholder=" "
          />
          <span class="auth-label"><i class="fa-solid fa-lock"></i>
            Password</span>
        </div>
        <div class="form-group">
          <input
            class="auth-input"
            type="password"
            name="confirmPassword"
            placeholder=" "
          />
          <span class="auth-label"><i class="fa-solid fa-lock"></i>
            Confirm password</span>
        </div>
      </div>
      <fieldset class="auth-fieldset auth-input">
        <label for="image">
          <div class="auth-img">
            <img
              src="{{pictures.anon}}"
              id="output"
              alt="Picture of anonymous"
            />
          </div>
          Add a profile picture</label>
        <input type="file" name="image" id="image" onchange="loadFile(event)" />
      </fieldset>
      {{! <div class="auth-file-wrapper">

      </div> }}
      <button class="auth-btn" type="submit">Register</button>
    </form>
  </div>
</div>