@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* GENERA STYLES */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

p {
  word-break: break-all;
}

.main {
  flex: 1;
}

.round-img-container {
  width: 50px;
  height: 50px;
}

.round-img-container > img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* HEADER + NAV STYLES */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

.logo {
  color: #1da1f2;
}

nav {
  display: flex;
  gap: 2rem;
}

nav > a {
  color: #000;
  text-decoration: none;
  position: relative;
}

/* Styles for dropdown (if we want it) */

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff;
  border: none;
}

.dropdown-content__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -30px;
  min-width: 100px;
  z-index: 1;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.dropbtn:focus + .dropdown-content {
  display: block;
} */

/* LOGIN + REGISTER STYLES */

.auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__form-wrapper {
  border: 1px solid #e3e3e3;
  width: max-content;
  min-width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}

.auth__form-wrapper > h2 {
  padding-bottom: 3rem;
}

.auth-form {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.form-group {
  position: relative;
}

.form-group i {
  color: rgb(36, 36, 36);
  font-size: 14px;
  margin-right: 5px;
}

.auth-input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  min-width: 200px;
}

.auth-label {
  position: absolute;
  left: 0;
  top: 3;
  pointer-events: none;
  transition: all 0.2s ease;
}

.auth-input:focus + .auth-label,
.auth-input:not(:placeholder-shown) + .auth-label {
  top: -20px;
  font-size: 12px;
}

.auth-fieldset {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.auth-fieldset > input {
  display: none;
}

.auth-fieldset > label {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.auth-fieldset .round-img-container {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.auth-btn {
  align-self: center;
  border: 1px solid #e3e3e3;
  background-color: #1da1f2;
  color: #fff;
  font-weight: bold;
  padding: 0.8rem 3.2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

#google-btn {
  margin-top: 15px;
  text-decoration: none;
  align-self: center;
  border: 1px solid #e3e3e3;
  background-color: #df6908;
  color: #fff;
  font-weight: bold;
  padding: 0.8rem 3.2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

.home-form__btn:hover {
  background-color: #1b8cd3;
}

.auth-form__wrapper {
  display: flex;
  gap: 3rem;
}

/* HOME STYLES */

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.home-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-form__textarea {
  height: 100px;
  width: 400px;
  padding: 12px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
  outline: none;
}

.home-form__btn {
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  background-color: #1da1f2;
  font-weight: bold;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.2s;
}

.home-form__btn:hover {
  background-color: #1b8cd3;
}

.post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.bubble {
  width: 85%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  border-radius: 100px;
}

.bubble:after,
.bubble:before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.bubble::after {
  width: 100px;
  height: 100px;
  top: -100px;
  left: 10px;
}
.bubble::before {
  width: 100px;
  height: 100px;
  top: 100px;
  left: -10px;
}

.post {
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  overflow: hidden;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.post__info__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author > a {
  text-decoration: none;
}

.post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.post__content > p {
  padding: 0 2rem;
}

.post__thread-btn {
  align-self: flex-end;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 2rem;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-top-left-radius: 20px;
  transition: all 0.2s;
}

.post__thread-btn:hover {
  background-color: #f5f5f5;
}

/* SINGLE-POST STYLES */

.single-post__thread-btn {
  align-self: flex-end;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 2rem;
  border-top: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;
  border-radius: 0;
  border-top-left-radius: 20px;
  transition: all 0.2s;
}

.single-post__thred-btn__inner {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.single-post__thred-btn__inner a {
  color: #000;
}
.single-post__thred-btn__inner button {
  border: none;
  background-color: #fff;
  color: #000;
}

.comments-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.comment-form__input {
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  outline: none;
  border: 2px solid #e3e3e3;
}

.comment-form__button {
  background-color: #1da1f2;
  border: none;
  padding: 11px;
  color: #fff;
  border-radius: 5px;
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  border: 2px solid #e3e3e3;
}

.comment {
  width: 400px;
  border-bottom: 2px solid #e3e3e3;
  display: flex;
  flex-direction: column;
}

.comment__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment__info img {
  width: 40px;
  height: 40px;
}

.comment__info__name-date {
  display: flex;
  flex-direction: column;
}

.comment__info__name-date > a {
  text-decoration: none;
}

.comment__info__name-date > span {
  font-weight: 400;
  font-size: 12px;
}

.comment__text {
  margin-left: 60px;
}

/* SINGLE USER */

.profile__info > .round-img-container {
  width: 300px;
  height: 300px;
}

/* NOT FOUND */
.not-found {
  width: 500px;
  margin: 0 auto;
}
.not-found img {
  width: 100%;
}
.not-found-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.go-home {
  background-color: #7693f1;
  color: white;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  padding: 10px;
}
.go-home a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .not-found {
    width: 600px;
  }
}
